:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

/* @import url('/font/Montserrat-Black.ttf'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startBtn {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
}


.mainContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.text span {
  font-size: 40px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #e8272f;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 0px;
  max-width: 100%;
  transition: all 0.2s linear;
}

.startHeading {
  font-size: 40px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #e8272f;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 0px;
  max-width: 100%;
  transition: all 0.2s linear;
}

.bgImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.mobile,
.desktop {
  width: 100%;
  height: 100%;
}

.mobile {
  display: none;
}

.quizeImg {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media(max-width:768px) {
  .text span {
    font-size: 30px;
  }
}

@media(max-width:525px) {
  .mobile {
    display: block
  }

  .desktop {
    display: none;
  }
}


@media(max-width:485px) {
  .text {
    width: 60%;
  }

  .text span {
    font-size: 18px;
  }
}


/* page 2  */
.heading {
  font-size: 40px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #e8272f;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 0px;
  max-width: 100%;
  transition: all 0.2s linear;
}

.spinner {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imgC {
  position: absolute;
  top: 0px;
  left: 0px;
}

.imgC,
.imgC img {
  width: 100%;
  height: 100%;
}

.count {
  font-size: 50px;
  color: #e8272f;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.msg {
  color: #e8272f;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition: all 0.2s linear;
  font-size: 24px;
}

.quiz {
  color: #e8272f;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 70%;
  text-align: center;
  transition: all 0.2s linear;
  margin: 10px 0px 20px;
}

.optionSection {
  width: 70%;
  padding: 20px 0px;
}

.rowC {
  width: 100%;
  height: auto;
  justify-content: space-between;
  display: flex;
}

.option {
  width: 48%;
  border-radius: 20px;
  background: red;
  display: flex;
  align-items: center;
  border: none;
  margin: 10px 0px;
  cursor: pointer;
}

.section {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.section,
.answare {
  padding: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.quizeImg {
  border-radius: 10px;
  overflow: hidden;
}

.quizeImg img {
  border-radius: inherit;
}

@media (max-width:1024px) {

  .quiz,
  .optionSection {
    width: 90%;
  }
}

@media (max-width:768px) {
  .rowC {
    flex-direction: column;
  }

  .option {
    width: 100%;
  }
}

@media (max-width:525px) {
  .heading {
    font-size: 24px;
  }

  .quiz {
    font-size: 14px;
  }

  .section {
    font-size: 14px;
  }

  .answare {
    font-size: 14px;
  }
}

/* button  */
.btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  cursor: pointer;

  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 20px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}



/* button 2  */
.button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  box-shadow: .5px .5px 150px #252525;
}

.type1::after {
  content: "Start";
  height: 50px;
  width: 150px;
  background-color: red;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Try Again";
  height: 50px;
  width: 150px;
  background-color: #fff;
  color: red;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}